.albumCard {
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--block-bg-color);
    width: clamp(300px, 100%, 600px);
    color: var(--body-text-color);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.128);
     width: 430px;
}

@media screen and (max-width: 650px) {
    .albumCard {
        width: 100%;
    }
}