.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: var(--primary-color);
    color: var(--body-text-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 100%, 600px);
    position: relative;
    border: var(--border-color) solid 1px;
}

.modalCloseButton {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--body-text-color);
}