.button {
    background-color: var(--primary-color);
    color: var(--body-text-color);
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    display: inline;
    border: var(--border-color) solid 1px;
    border-radius: 10px;
}